{% extends 'patient_records/base_multi_form.html' %}

{% block title %}Add Lab Results{% endblock %}

{% block form_errors %}
    {% if cmp_form.errors or cbc_form.errors %}
    <div class="form-errors">
        Please correct the following errors:
        {{ cmp_form.errors }}
        {{ cbc_form.errors }}
    </div>
    {% endif %}
{% endblock %}

{% block form_sections %}
    <div class="lab-section">
        <h2>CMP Labs</h2>
        {{ cmp_form.as_p }}
    </div>
    
    <div class="lab-section">
        <h2>CBC Labs</h2>
        {{ cbc_form.as_p }}
    </div>
{% endblock %}