{% extends 'patient_records/base_form.html' %}

{% block form_content %}
    {% for field in form %}
    <div class="field-wrapper">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <div class="help-text">{{ field.help_text }}</div>
        {% endif %}
        {% if field.errors %}
            <div class="field-error">
                {{ field.errors|join:", " }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}